{% extends 'core/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container mt-6">
        <div class="card p-4 bg-light rounded shadow">
            <div class="mb-4 text-center">
                <a href="{% url 'item:new' %}" class="btn btn-primary me-2">Створити</a>
                <a href="{% url 'dashboard:history' %}" class="btn btn-primary me-2">Історія перегляду</a>
                <form method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger bg-danger">Вийти</button>
                </form>
            </div>
            <h2 class="mb-4 text-2xl text-center">Мої оголошення</h2>

            <div class="row row-cols-1 row-cols-md-3 g-3">
                {% for item in items %}
                    <div class="col">
                        <a href="{% url 'item:detail' item.id %}">
                            <div class="card rounded-xl">
                                <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                                <div class="card-body">
                                    <h2 class="card-title text-2xl">{{ item.name }}</h2>
                                    <p class="card-text text-gray-500">Ціна: {{ item.price }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
